@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Acesso</title>
</head>
<body>
    <h2>Acessar</h2>
    <form action="/Logoff/Sair" method="post">
 
        <div>
            <input type="submit" value="Sair" />
        </div>
    </form>
</body>
</html>